@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.carousel-caption {
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.568);
    padding: 15% 20%;
    left: 0;
    top: 0;
    right: 0;

}

.button {
    text-decoration: none;
    color: white;
    background: #289BDE;
    padding: 13px 33px;
    border-radius: 5px;
}
.button:hover{
    color:#289BDE ;
    background: white;
    border: 1px solid #289BDE;
}
a.button {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
}
.Price{
    color: #289BDE;
}
.register-bg{
    background: #289BDE;
}
.explore-bg{
    background: #F4FAFD;
}
.dark02{
    color: #4A4A4A;
}
.dark-03{
    color: #777777;
}
footer{
    background: #161616;
}
ul>li>a>i{
    background: #242424;
    padding: 10px;
    border-radius: 25px;
}
ul>li {
    list-style: none;

}
.fa-star{
    color: rgb(252, 180, 0);
    
    ;
}